	<div class="wrap">
		<div class="form common">
			<a href="#" class="link"></a>
			<div class="hd">
        <h2><a name="contactform" id="contactform" class="anchor"></a>We can improve your bottom line.</h2>
				<p>Contact Energy Inspectors today to find the solution that is right for you and your building project.(702)365-8080</p>
			</div>
			<div class="bd">
				<form action="#" method="post">
				<div class="field">
					<label>Name:</label>
					<input type="text" name="name">
				</div>
				<div class="field">
					<label>Email:</label>
					<input type="text" name="email">
				</div>
				<div class="field">
					<label>Company:</label>
					<input type="text" name="email">
				</div>
				<div class="field">
					<label>Message:</label>
					<textarea name="message"></textarea>
				</div>
				<div class="field">
					<input type="submit" value="submit" class="cur">
				</div>
				</form>
			</div>
			<div class="backtop"><a href="javascript:;"></a></div>
		</div>
</div>

	<footer class="footer">
		&copy;ENERGY INSPECTORS 2013
	</footer>
  <script src="../../external.html?link=http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="scripts/lib/jquery.min.js"><\/script>')</script>
  <script type="text/javascript" src="scripts/plugins.js"></script>
  <script type="text/javascript" src="scripts/main.js"></script>

  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='../../external.html?link=http://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-47055834-1');ga('send','pageview');
  </script>
</body>

