<body>
  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->
<div class="header-cont">
	<header class="header">
		<div class="wrap">
			<div class="top cc">
        <div class="logo"><a href="index-2.html"><img src="images/logo.jpg" alt=""></a></div>
				<nav class="nav">
          <div class="subnavbg"></div>
					<ul>
						<li>
							<a href="solutions.html">SOLUTIONS<i id="solutionsmenu"></i></a>
							<div class="subnav">
								<div class="wrap">
									<ul>
										<!--<li><a href="solutions.html#">QUALITY&nbsp;ASSURANCE</a></li>
										<li><a href="solutions.html#">CONSULTING</a></li>
                    <li><a href="solutions.html#">MP&amp;E</a></li>-->
										<li><a href="solutions.html#services">SERVICES</a></li>
										<li><a href="solutions.html#commercial">COMMERCIAL</a></li>
										<li><a href="solutions.html#multifamily">MULTIFAMILY</a></li>
										<li><a href="solutions.html#singlefamily">SINGLE&nbsp;FAMILY</a></li>
									</ul>
								</div>
							</div>
						</li>
            <li>
							<a href="about.html">ABOUT<i id="aboutmenu"></i></a>
							<div class="subnav">
								<div class="wrap">
									<ul>
										<li><a href="about.html#accolades">ACCOLADES</a></li>
										<li><a href="about.html#vision">VISION</a></li>
										<li><a href="about.html#history">HISTORY</a></li>
									</ul>
								</div>
							</div>
            </li>
						<li>
              <a href="#contactform">CONTACT</a>
            </li>
					</ul>
				</nav>
			</div>
