      <div class="subtitle">
        Solutions
      </div>
    </div>
  </header>

	<div class="h420"></div>
	<div class="wrap">
    <article class="article">
      <h2><a name="singlefamily" class="anchor"></a>Single Family</h2>
      <div class="duan">
        <p><b>We believe in the family.</b>  We believe in the ability of a family to grow holistically and be nurtured.  We believe an essential component of the family is the home in which they live.  We therefore believe in providing the <b>safest, most cost effective, green energy home designs</b> to our builder clients.</p>
      </div>
      <div class="duan">
        <p><b>We believe in quality.</b>  We provide the <b>highest quality, most comprehensive, consulting services</b> to our partners in the building industry from the bottom up. We keep the <b>bottom-line</b> in mind for both the builder and the future homeowner for each and every one of our designs.</p>
      </div>
      <div class="duan">
        <p><b>We believe in doing the hard work.</b>  Our dedicated team of consultants navigate the ins-and-outs of code documentation and incentive applications to <b>find every applicable incentive for your project</b>. We believe in a seamless integration of consulting services from start to finish, a partnership with our client that assures that every worry and possible concern in creating the <b>safest, most cost effective, green energy homes</b> is seen to.</p>
      </div>
      <div class="duan">
        <p><b>We believe in fully committed customer support.</b>  We believe in a <b>highly trained and knowledgeable sales team</b> that excels at giving our clients <b>consistent quality service across all our regions</b>. We believe that when a client succeeds in bringing to life a home for a family that we succeed as well. We believe in the <b>satisfaction of the customer</b>, and we will work tirelessly to achieve that end, no matter how large or small the task that is needed to accomplish that goal.</p>
      </div>
      <div class="backtop"><a href="javascript:;"></a></div>
    </article>
    <article class="article">
      <h2><a name="multifamily" class="anchor"></a>Multifamily</h2>
      <div class="duan">
        <p><b>We believe in a holistic and client-centered approach to projects.</b>  We take into account the <b>background and context</b> of every project and assure the <b>client’s best interests</b> are always put first. We work to understand the needs of our clients and <b>tailor our approach</b> to the unique requirements of each builder’s messaging and value. We provide a <b>one stop shop</b> for a client that will see to all of our client’s needs from <b>incentive management, to program codes, to compliance, and field personnel</b>, we provide for every nuanced need of our client in house so that a consistency is found in our level of care and concern for each and every project. 
      </p></div>
      <div class="duan">
        <p><b>We believe in an integrated approach to projects.</b>  We facilitate and assist in the success of our clients by <b>integrating all stakeholders</b> in the problem solving process from the outset - the client, consultants, and installing trades - to ensure a <b>successful installation, start up, and satisfactory result for all parties.</b></p>
      </div>
      <div class="duan">
        <p><b>We believe in a tailored approach to each project.</b>  No two projects are alike.  We focus on achieving the <b>building approach that is right for your project</b>. We deliver decision-making and provide solutions that target the upgrade efficiencies to <b>match our client’s goals</b>.
      </p></div>
      <div class="backtop"><a href="javascript:;"></a></div>
    </article>
    <article class="article">
      <h2><a name="commercial" class="anchor"></a>Commercial</h2>
      <div class="duan">
        <p><b>More than just a building</b>, we believe our clients create places to <b>innovate, be exceptional, and find enjoyment</b>.
      </p></div>
      <div class="duan">
        <p><b>We believe in trust.</b>  In order for a successful partnership to occur, <b>trust must be earned</b> and we will do everything to gain this trust from the client since we understand the magnitude of the projects that we would be undertaking. We understand and address the concerns of our client with <b>risk mitigation, validation of design, comprehensive inspections, and assistance</b> in assuring that the building will be completed on time and that the building will operate correctly after completion. We have over <b>20 years of experience in commercial modeling, commissioning, and QA</b> that we bring to our client to facilitate the best possible version of their project.
      </p></div>
      <div class="duan">
        <p><b>We believe in ROI.</b>  We work to create a healthy and productive work environment for your tenants. We believe that a savvy comprehensive approach to energy consulting can <b>prevent delays, increase your ROI, build durability, and reduce operating costs</b>. We believe in in accurate results in a timely manner for all of the client’s needs and we believe in issue resolution because providing our clients with the best customer service is our mission.
      </p></div>
      <div class="backtop"><a href="javascript:;"></a></div>
    </article>
    <article class="article">
      <h2><a name="services" class="anchor"></a>Services</h2>
      <div class="duan">
        <h4>HERS INSPECTIONS</h4>
        <p>Our field raters are not merely data takers--they are consultants. We understand the need of our client and assure that every possible challenge is met in meeting a client’s building deadline. We work with both superintendants and installing trades to ensure that your products are built with the best energy efficiency practices in mind.</p>
        <br>
        <p>Our certified HERS raters can all perform code, above-code, and solar inspections, streamlining your field process. They also work under central schedulers who keep our inspections on track with your needs. The HERS Rater is a vital element in our ability to provide our client with the best customer service and therefore is aware and takes to heart the importance of their tasks and is on top of every element of the inspections that are needed.</p>
      </div>
      <div class="duan">
        <h4>ENERGY MODELING</h4>
        <p>Our highly trained, dedicated team of compliance analysts will provide a timely, accurate assessment of your architectural drawings. With both residential and non-residential Certified Energy Plans Examiners, Certified Energy Analysts, LEED APs, and HERS Raters on staff, we will tailor your energy modeling solutions to the energy code and program requirements of your project. We provide multiple scenarios to assist in equipment selection and compliance. We have experience with multiple codes and multiple software programs, so we can cater to national builders and we understand the uniqueness of each builder and therefore tailor our models to match the builder's messaging and value.</p>
        <br>
        <p>Our energy modeling team will ensure that your plans meet any version of the T24 Code as well as any and all above-code programs you choose to participate in using the best and most cost-effective options available.</p>
      </div>
      <div class="duan">
        <h4>INCENTIVE MANAGEMENT</h4>
        <p>We believe that navigating the ins-and-outs of code documentation and incentive applications should be left to our dedicated team of consultants who will seek to find every applicable incentive for your project. We work with both federal and local programs to assure that no incentive is left unchecked and unclaimed for every project for our clients.</p>
        <br>
        <p>We have a department dedicated to making sure your utility incentive projects are fully enrolled in the program s you wish to participate in, from the application through the final check.</p>
      </div>
      <div class="duan">
        <h4>ABOVE-CODE PROGRAM CONSULTING</h4>
        <p>Whether you want an energy efficiency label, a green building certification, or just want to meet the requirements of an incentive program, our staff can give you the best options to achieve your goals and align our entire team to help you reach them.</p>
      </div>
      <div class="duan">
        <h4>ENERGY AUDITS</h4>
        <p>With over 20 years of experience in energy audits, we can recommend the best energy upgrading retrofit options for your project. Our team is knowledgeable about building systems, and can provide timely accurate models which will save you money.</p>
      </div>
      <div class="duan">
        <h4>COMMISSIONING</h4>
        <p>We work together with the client, consultants, and installing trades to have a successful installation and startup. Help and educate, facilitate success. Problem solving.</p>
      </div>
      <div class="backtop"><a href="javascript:;"></a></div>
    </article>
  </div>
</div>

